
*{
    margin: 0;
    padding: 0;
 }
 
 nav{
     display: flex;
     justify-content: space-around;
     height: 40px;
     align-items: center;
     background-color: black;
 }
 li{
     color: aliceblue;
 }

 
 